/* mobile devices responsive */
@media screen and (max-width: 576px) {
    .nav-container,
    .nav-item-container,
    .banner-container,
    .instant-play-container
    {
        flex-direction: column;
    }
    
    .nav-item-container{
        gap: 10px;
    }
    
    .big-img{
        width: 300px;
        height: auto;
    }
    .cards{
        grid-template-columns: repeat(1,1fr);
        margin-left: 110px;
    }
    
    
}
    